html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4ea7b;

  --color-blue: #56bcbe;
  --color-blue-light: #b4edee;

  --color-yellow: #f4ea7b;
  --color-yellow-light: #f5efb3;
}
